<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
      <style>
    </style>
    
    <!-- ----------------------------   hehehe   -------------------------------------------- -->
    <body style="background-color:rgb(239, 239, 246);">
      <header style="    background-color: white;">
        <div class="row mx-auto a3">
          <div class="col-lg-4 a3_1" style="border: steelblue;">
          <center>
            <h1>home</h1>
          </center>
          </div>
          <div class="col-lg-4 a3_1" style="border:  blue;">
            <div class="row mx-auto">   
            <div class="col" id="userImage" style="margin: 0px auto; ">
              <center>
                <img src="/images/user-transparent.png" alt="img" style="max-width: 100px; max-height: 80px;">
                
                <% if (loginUser) {%>
                    <p>login As: <%=loginUser%></p>
                <% } else { %>
                        <p>username</p>
                <% } %>
              </center>
            </div>
          </div>
        </div>
         
          <div class="col-lg-4 a3_1" style="border: red;">
            <center>
              <span class="span1">
              <% if (loginUser) {%>
               <h4> <a href="/logout"> Logout </a> &nbsp; &nbsp; &nbsp; </h4>
                <span style="color: white;"> login As: <%=loginUser%>
             <% }  else { %>
              <h4> <a href="/signup"> Register </a> &nbsp; <a href="/login"> Login </a> </h4>
              <%  }  %>
            </span>
            </span>
            </center>
        </div>
        </div>
      </header>        
    <!-- -------------------------------------------- -->
            <!--  s t a r t   o f   l o g i n   f o r m   -->
            <div class="  mx-auto" >
              <div class="row mx-auto" >
                <div class="loginbox mx-auto col-lg-5 col-sm-7 mx-auto">
                  <div class="col-md-12 mb-3">
                  <!-- <div class="panel panel-info"> -->
                    <!-- </div> -->
                  </div>
                  <center>
                  <h1>Add Password </h1>
                </center>
                  <form style="border-top: grey 2px  groove;" action="/Add-password" id="passwordForm" method="POST">
                    <% if(msg != ''){ %>
                      <br>
                      <div class="alert alert-success alert-dismissible">
                        <strong>      
                    <%= msg %>
                        </strong>
                    </div>
                      <% } %>
                    <br>
                    <div class="mb-3">
                      <label for="validationServerUsername">Name of Category</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-user"></span> </span>
                        </div>
                        <input type="text" class="form-control " name="passwordCategoryName" placeholder="Like: Password of facebook, gmail, instagram etc" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Enter category of password.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Email Address</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-envelope"></span> </span>
                        </div>
                        <input type="email" class="form-control " name="EmailAddress" placeholder="___@___.com" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Enter category of password.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon  glyphicon-star-empty"></span> </span>
                        </div>
                        <input type="password" class="form-control " name="userPasswordName" placeholder="Password" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Please enter correct password.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Recovery Email Address</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-envelope"></span> </span>
                        </div>
                        <input type="email" class="form-control " name="RecoveryEmailAddress" placeholder="___@___.com" aria-describedby="inputGroupPrepend3" >
                        <div class="invalid-feedback">
                          Enter category of password.   
                        </div>
                      </div>
                    </div>
                      <div class="mb-3">
                        <label for="validationServerUsername">Password Details</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-floppy-disk"></span> </span>
                          </div>
                          <textarea class="form-control" name="passwordDetailsName"placeholder="Hints or Date of birth other details" id="editor1"></textarea>
                          <div class="invalid-feedback">
                            Please enter correct password.
                          </div>
                        </div>
                      </div>
                      <div class="col">
                          <button class="btn btn-primary" type="submit" value="Add categore">Add Password</button>
                      </div>
                    </form>
                  
                </div>
                </div>
              </div>
        <!--    e n d   o f   f o r m    -->
          
      <!-- ------------------------------------------------------------------ -->
    <div class="page-wrapper chiller-theme toggled" style="height: auto;">
      <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <div id="close-sidebar">
                  <br>
                  <div class="row mx-auto">
                  <div class="col">General</div><div class="col"></div> <div class="col"><p  style="float: right;"><i class="fas fa-times"></i></p> </div>
                </div>
              </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="/">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Home</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="/dashboard">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="far fa-gem"></i>
                  <span>Details Section</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="/Add-password">Add Details</a>
                    </li>
                    <li>
                      <a href="/view-all-password">Update Details</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-chart-line"></i>
                  <span>About us</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-globe"></i>
                  <span>Your Location</span>
                </a>
              </li>
              <li class="header-menu">
                <span>Extra</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-book"></i>
                  <span>Documentation</span>
                  <span class="badge badge-pill badge-primary">Beta</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-calendar"></i>
                  <span>Calendar</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-folder"></i>
                  <span>Examples</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
          <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
          </a>
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
          </a>
          <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
          </a>
          <a href="#">
            <i class="fa fa-power-off"></i>
          </a>
        </div>
      </nav>
      <!-- main contents  -->
      
          <!--  s t a r t   o f   e d i t   c a t e g o r y    f o r m   -->
          <!--    e n d   o f   f o r m    -->
      <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <br>  <br>  
    <br>  <br>  
    <br>  <br>  
    <br>  <br>  
    <footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
        <div class="overlay"></div>
        <div class="container">
          <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
              <h3>A Little About Stamina.</h3>
              <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
              <p><a class="btn btn-primary" href="#">Become A Member</a></p>
            </div>
            <div class="col-md-8">
              <h3>Classes</h3>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="fh5co-footer-links">
                  <li><a href="#">Cardio</a></li>
                  <li><a href="#">Body Building</a></li>
                  <li><a href="#">Yoga</a></li>
                  <li><a href="#">Boxing</a></li>
                  <li><a href="#">Running</a></li>
                </ul>
              </div>
    
              <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="fh5co-footer-links">
                  <li><a href="#">Boxing</a></li>
                  <li><a href="#">Martial Arts</a></li>
                  <li><a href="#">Karate</a></li>
                  <li><a href="#">Kungfu</a></li>
                  <li><a href="#">Basketball</a></li>
                </ul>
              </div>
    
              <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="fh5co-footer-links">
                  <li><a href="#">Badminton</a></li>
                  <li><a href="#">Body Building</a></li>
                  <li><a href="#">Teams</a></li>
                  <li><a href="#">Advertise</a></li>
                  <li><a href="#">API</a></li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="row copyright">
            <div class="col-md-12 text-center">
              <p>
                <small class="block">&copy; 2017 | All Rights Reserved.</small> 
                <small class="block">Powered by  siteName.com</small>
              </p>
            </div>
          </div>
    
        </div>
      </footer>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            jQuery(function ($) {
    
    $(".sidebar-dropdown > a").click(function() {
    $(".sidebar-submenu").slideUp(200);
    if (
    $(this)
      .parent()
      .hasClass("active")
    ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
    } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
    }
    });
    
    $("#close-sidebar").click(function() {
    $(".page-wrapper").removeClass("toggled");
    });
    $("#show-sidebar").click(function() {
    $(".page-wrapper").addClass("toggled");
    });
    });
  </script>
</body>
</html>
